[submodule "home/jpp/.json_pretty_printer"]
	path = home/jpp/.json_pretty_printer
	url = https://github.com/beane/json_pretty_printer_shell.git
[submodule "home/vim/.vim/vim-plug"]
	path = home/vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug
