[submodule "json-pretty-print"]
	path = json-pretty-print
	url = https://github.com/beane/json-pretty-print
[submodule "vim-lucius"]
	path = vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug/
